[buildout]
parts =
    instance
extends = http://dist.plone.org/release/5-latest/versions.cfg
unzip = true
develop = .

[instance]
recipe = plone.recipe.zope2instance
http-address = 8080
user = admin:admin
environment-vars =
    zope_i18n_compile_mo_files true

eggs =
    Pillow
    Plone
    collective.js.angular

zcml =
    collective.js.angular

